@import "tailwindcss";

@theme {
  --color-bar-default: #6366f1;   
  --color-bar-compare: #facc15;   
  --color-bar-swap: #ef4444;      
  --color-bar-sorted: #22c55e;    
  --color-bar-pivot: #a855f7;     
}